@charset "UTF-8";
/* CSS Document */

:root {
    
    /* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, "Open Sans", Helvetica, Arial, sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, Merriweather, Georgia, 'EB Garamond', serif);
	--global--font-tertiary: var(--font-base, -apple-system, Montserrat, "Helvetica Neue", sans-serif);
	--global--font-monospace: var(--font-base, -apple-system, "Courier New", "Inconsolata", monospace);
	
	/* Colors */
	--white:	#ffffff;
	--grey:		#736F69; /* very close to #ccc */
	--ltgrey:	#E3E2E1; /* replaces eeeeee, efefef, f0f0f0, &c. */
	--mdltgrey:	#aba9a5;
	--mdgrey:	#96918d;
	--mddkgrey:	#66625f; /* replaces 515151, 555(555) (which are somewhat darker), &c. -- cooler version: #686868 -- medium grey */
	--charcoal:	#333333; /* replaces ??, &c. */
	
	--red:		#990000;
	--mdred:	#E71105; /* bright and ugly! */
	--dkred:	#760000; /* underutilized, very similar to red */
	--orange:	orange; /**/
	
	--yellow:	#FFFF33;
	--lemon:	#FFFF66;
	--green:	#42A406;
	--dkgreen:	#4d6600; /* olive-ish? army green? */
	
	/* Pastels */
	--minty:	#d9f2d9;
	--glacier:	#ccf5ff;
	
	
	--dustyblue: #6785ac; /* medium blue (extracted from old site header graphic) */
	--paledustyblue: #9DB1CA;
	
}

/*** ***/

.anchor_top {
	float: right;
}

.snippet .anchor_top {
	display: none;
}

.up {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #555;
	display: inline-block;
    margin-right: 0.2rem;
}

.symbol,
a.symbol {
    font-size: 3.5rem;
    text-decoration: none;
    border-bottom: none;
    padding: 0 1rem;
    font-weight: 900;
    vertical-align: middle;
    line-height: normal;
}

.action,
a.action {
    color: #E71105; /*var(--mdred);*/
}

.info {
	border: 1px solid var(--ltgrey);
    padding: 1rem;
    font-family: var(--global--font-monospace);
}

/** START WIP ***/
span.t1 {
	display: block;
	padding-left: 1rem;
}

span.t2 {
	display: block;
	padding-left: 2rem;
}

.empty {
	opacity: 0.5;
}

.code,
div.code {
	font-family: monospace;
	padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--ltgrey);
}

.code.active {
	border: 2px solid;
}

.bold {
	font-weight: 700;
}

/* TMP/Transitional:
.sidebar .snippet,
.sidebar .snippet.widget {
	display: none;
}

.devmode .sidebar .snippet,
.devmode .sidebar .snippet.widget,
.admin-view .sidebar .snippet,
.admin-view .sidebar .snippet.widget,
.stcdev .sidebar .snippet,
.stcdev .sidebar .snippet.widget {
	display: block;
	opacity: 0.5;
}
*/

.devsite .sidebar .snippet,
.devsite .sidebar .snippet.widget {
	border: 5px dotted #f67b39;
}

/** END WIP ***/

/* msg_bar styles */

.site.has_msg_bar {
    /*position: absolute;*/
    top: 50px;
    width: 100%;
}

.msg_bar {
	display: none;
	width: 100%;
    height: 6rem;
    margin: 0px auto 0 auto;
    padding: 0;
    background-color: var(--ltgrey);
    font-family: 'worksans-extralight', 'work sans', sans-serif;
	font-size: 1.3rem;
    font-weight: normal;
	text-align: center;
    line-height: normal;
}

.msg_bar div.post,
.msg_bar div.event {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90%;
	height: inherit;
}

.msg_bar p {
	width: inherit;
	margin: 0 auto;
	padding: 1rem;
}

.msg_bar .moretag {
	display: inline;
	margin: 0 1rem;
}

.msg_bar.greens {
    background-color: rgb(153, 204, 0, 0.5);
    color: var(--dkgreen);
}

.msg_bar.reds {
    background-color: rgb(156, 67, 22, 0.2);
    color: rgb(156, 67, 22);
}

.msg_bar_close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    /*top: 1rem;
    right: 1rem;*/
    width: 6rem;
    max-width: 10%;
    height: 6rem;
    background-color: #cccbca;
}

.msg_bar_close:after {
    content: '×';
    display: block;
    font-family: helvetica,arial,sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 5.5rem;
    letter-spacing: normal;
    padding: 0;
}

body.admin-bar .msg_bar_close {
    top: 46px;
}


/*** End msg_bar styles ***/

/*** Troubleshooting & Dev styles ***/
/* TODO: streamline, simplify */
.devinfo,
.devview,
.troubleshooting,
.troubleshooting.inline {
	display: none;
}

.troubleshooting,
.troubleshooting.inline,
.devwip {
    text-align: left;
	padding: 1rem;
	background-color: #d1fb9d;
}

.devmode .troubleshooting,
.stcdev .devinfo,
.stcdev .devview {
	display: block;
	margin: 0.5rem 0;
}

.troubleshooting.inline {
    background-color: transparent;
	color: #42A406;
	color: var(--green);
	padding: 0 1rem;
	margin-bottom: 0;
}

.devmode .troubleshooting.inline,
.stcdev span.devinfo,
.stcdev span.devview
.stcdev .devinfo.inline,
.stcdev .devview.inline {
	display: inline;
}

/*** Tables ***/

table.program/ {
	width: auto;
	border: none;
}

table.program.personnel {
    border-bottom: 1px solid rgb(0,0,0,.05);
    padding-bottom: 1rem;
}

.first_program_items table.program.personnel {
    border-top: 1px solid rgb(0,0,0,.05);
    padding-top: 1rem;
    border-bottom: 0;
    padding-bottom: 0;
}

.concert_program_personnel {
	text-align: center;
}

.left_aligned .concert_program_personnel {
    text-align: left;
}

.concert_program_personnel .person {

}

.concert_program_personnel .person_role {
	text-transform: lowercase;
	font-style: italic;
}

table.program tr td {
    border: none;
    padding: 0.2rem 1rem .5rem 0;
}

.concert_program table.program:not(.personnel) tr td/*,
table.program tr.grouping td*/ {
    padding-bottom: 2rem;
}

/*** FORM STYLES ***/

form#select_ids {
	height: 5rem;
}

.sdg_merge_form {
	margin-bottom: 1rem;
}

.input-group {
	float: left;
}

.input-group label {
	font-size: 0.9rem;
}

input[type="text"].merge-input {
	width: 7rem;
}

@media screen and (max-width: 600px) {

	.msg_bar p {
		font-size: 1rem;
		padding: 0.5rem;
	}
	
}

@media screen and (min-width: 44.375em) {

	/*body.admin-bar .msg_bar {
		padding-top: 46px;
	}*/
	
	body.admin-bar .msg_bar .msg_bar_close {
		top: 46px; /*top: calc(2rem + 46px);*/
	}
	
}

@media screen and (min-width: 48.9375em) {
	
	/*body.admin-bar .msg_bar {
		padding-top: 32px;
	}*/
	
	body.admin-bar .msg_bar .msg_bar_close {
		top: 32px; /*top: calc(2rem + 32px);*/
	}
	
}